/*---------------------------Importation des polices ---------------------------*/
 @font-face {
 	font-family: 'sensation';
 	src:url(../font/sensation.ttf);
 }

@font-face {
	font-family: 'chelsea';
	src:url(../font/Chelsea.ttf);
}

@font-face {
	font-family:'roboto';
	src:url(../font/Roboto.ttf);
}

@font-face {
	font-family:'robotoL';
	src:url(../font/Roboto-l.ttf);
}
/*---------------------------Réinitialisation du body---------------------------*/
body{
	font-family: 'sensation';
	margin: 0;
	padding: 0; 
}

/* --------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------HEADER ----------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------*/

header{
	background-color: white;
	width: 100%;
}

nav a{
	color : #11A478;
	text-decoration: none;
	transition: 0.5s;
	display: block;
	padding: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

nav{
	display: flex;
	justify-content: flex-start;
}

nav li{
	list-style: none;
	transition: 0.5s;
}

nav ul{
	display: flex;
	flex-direction: row;
	margin-top: 0px;
	margin-bottom: 0px;
}

nav li:hover{
	transition: 0.5s;
	background-color: #11A478;
}

nav li:hover a{
	color: white;
	transition: 0.5s;
}

/* ---------------------------Titre RightSwatch--------------------------- */

#rightswatch{
	color: #11A478;
	margin: 0;
	padding: 0;
	font-size: 2em;
	margin: 10px;
	margin-left: 0;
}

#lien-principal{
	margin: 0;
	padding: 0;
}

/*---------------------------Background gris clair ---------------------------*/
#container{
	background-color: #E2E1E0;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/*---------------------------Background vert dégradé---------------------------*/
#container_vert{
	background: #50a3a2;
	background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
	background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
	background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
	background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/*---------------------------Notifications---------------------------*/
.alert{
	width: 50%;
	font-size: 1.2em;
	padding: 20px;
	margin-top: 15vh;
	position: absolute;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-self: center;
	animation-name: apparition4;
 	animation-duration: 2s;
 	animation-fill-mode: forwards;
 	z-index: 2;
}

.alert-danger{
	background-color: #F2DEDE;
	color : #F00000;
	border : 1px solid #F00000;
}

.alert-success{
	background-color: #D9EDF7;
	color : #00299D;
	border : 1px solid #00299D;
}

.alert_button{
	text-decoration: none;
}

.button_danger{
	color : #F00000;
}

.button_success{
	color : #00299D;
}

/*---------------------------Animation des notifications---------------------------*/

 @keyframes apparition4{
 	0%{opacity: 0;}
 	10%{opacity: 1;}
 	90%{opacity: 1;}
 	100%{opacity: 0;}
 }


/* --------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------INDEX-------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------Div qui contient la page Index ---------------------------*/
#container3{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	animation-name: apparition2;
 	animation-duration: 1s;
}


#index_titre{
	color: white;
}

#index_text{
	color : white;
}

/* --------------------------------------------------------------------------------------------------------------------------------*/
/* ---------------------------------------------------INDEX CONNECTE-----------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------*/

#container4{
	display: flex;
	flex-direction: row;
	height: 100vh;
	/* SCROLL HORIZONTAL */
	overflow-x: scroll;
	overflow-y: hidden;
    	width: auto;
    	animation-name: apparition2;
 	animation-duration: 1s;
}

/*---------------------------Div qui contient le profil ---------------------------*/
#profil{
	width: 35%;
	height: 85vh;
	margin-top: 2vh;
	margin-left: 10px;
	background-color: #ECECEC;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*---------------------------Haut du profil---------------------------*/
#profil_head{
	display: flex;
	justify-content: space-between;
	height: 20vh;
	background-color: #38BA8B;
}

/*---------------------------------------NIVEAU 30---------------------------------------*/

#profil_head_5{
	display: flex;
	justify-content: space-between;
	height: 20vh;
	background-color: #f9d21e;
}

#ageDIV_5{
	background-color: white;
	height: 20vh;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-left: 1px solid white;
	transition: 0.5s;
}

#ageDIV_5:hover{
	background-color: #f9d21e;
	height: 20vh;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-left: 1px solid white;
	transition: 0.5s;
}


#age_5{
	font-size: 1.3em;
	color :  #f9d21e;
	transition: 0.5s;
}

#ageDIV_5:hover #age_5{
	color :  white;
	transition: 0.5s;
}

#niveau_5{
	color: #f9d21e;
	font-weight: bolder;
	margin : auto;
	text-align: center;
	margin-top: 5px;
	width: 20%;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#description_5{
	padding: 10px;
	color : white;
	background-color : #f9d21e;
	border-bottom: 2px solid white;
	border-top: 1px solid white;
	margin-bottom: 0px;
	font-family: 'robotoL';
}

#description_long_5{
	padding: 10px;
	color : white;
	background-color : #f9d21e;
	border-bottom: 2px solid white;
	border-top: 1px solid white;
	overflow-y: scroll;
	height: 20vh;
}


/*---------------------------------------NIVEAU 20---------------------------------------*/

#profil_head_20{
	display: flex;
	justify-content: space-between;
	height: 20vh;
	background-color: #31589b;
}

#ageDIV_20{
	background-color: white;
	height: 20vh;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-left: 1px solid white;
	transition: 0.5s;
}

#ageDIV_20:hover{
	background-color: #31589b;
	height: 20vh;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-left: 1px solid white;
	transition: 0.5s;
}


#age_20{
	font-size: 1.3em;
	color :  #31589b;
	transition: 0.5s;
}

#ageDIV_20:hover #age_20{
	color :  white;
	transition: 0.5s;
}

#niveau_20{
	color: #31589b;
	font-weight: bolder;
	margin : auto;
	text-align: center;
	margin-top: 5px;
	width: 20%;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#description_20{
	padding: 10px;
	color : white;
	background-color : #31589b;
	border-bottom: 2px solid white;
	border-top: 1px solid white;
	margin-bottom: 0px;
	font-family: 'robotoL';
}

#description_long_20{
	padding: 10px;
	color : white;
	background-color : #31589b;
	border-bottom: 2px solid white;
	border-top: 1px solid white;
	overflow-y: scroll;
	height: 20vh;
}


/*---------------------------------------NIVEAU 10---------------------------------------*/

#profil_head_10{
	display: flex;
	justify-content: space-between;
	height: 20vh;
	background-color: #4b0082;
}

#ageDIV_10{
	background-color: white;
	height: 20vh;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-left: 1px solid white;
	transition: 0.5s;
}

#ageDIV_10:hover{
	background-color: #4b0082;
	height: 20vh;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-left: 1px solid white;
	transition: 0.5s;
}


#age_10{
	font-size: 1.3em;
	color :  #4b0082;
	transition: 0.5s;
}

#ageDIV_10:hover #age_10{
	color :  white;
	transition: 0.5s;
}

#niveau_10{
	color: #4b0082;
	font-weight: bolder;
	margin : auto;
	text-align: center;
	margin-top: 5px;
	width: 20%;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#description_10{
	padding: 10px;
	color : white;
	background-color : #4b0082;
	border-bottom: 2px solid white;
	border-top: 1px solid white;
	margin-bottom: 0px;
	font-family: 'robotoL';
}

#description_long_10{
	padding: 10px;
	color : white;
	background-color : #4b0082;
	border-bottom: 2px solid white;
	border-top: 1px solid white;
	overflow-y: scroll;
	height: 20vh;
}


/*---------------------------Niveau 0-9 ---------------------------*/
#profil_texte{
	color : white;
	display: flex;
	flex-direction: column;
	width: 50%;
}

#profil_texte h3{
	font-size: 2em;
	margin: 0;
	padding: 0;
	margin-top: 30px;
	margin-left: 30px;
}


#profil_texte h4{
	margin: 0;
	padding: 0;
	margin-top: 5px;
	margin-left: 30px;
}

/*---------------------------Div de l'âge---------------------------*/
#ageDIV{
	background-color: white;
	height: 20vh;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-left: 1px solid white;
	transition: 0.5s;
}

#ageDIV:hover{
	background-color: #27AC84;
	height: 20vh;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-left: 1px solid white;
	transition: 0.5s;
}

#ageDIV:hover #age{
	color :  white;
	transition: 0.5s;
}

#age{
	font-size: 1.3em;
	color :  #00D19A;
	transition: 0.5s;
}

/*---------------------------Photo du profil---------------------------*/
#photo_profil{
	-webkit-border-radius:80px;
	-moz-border-radius:80px; 
	border-radius:80px;
	width:80px;
	height:80px;
	margin-left: 20px;
	margin-top: 20px;
}

#profil_corps{
	display: flex;
	flex-direction: column;
	font-family: 'Helvetica';
	overflow: hidden;
}

/*---------------------------Barre animée ---------------------------*/

.meter { 
	height: 10px;
	position: relative;
	width: 95%;
	margin-left: 2px;
	background: #27AC84;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 25px;
	padding: 5px;
	
}

.meter_10 { 
	height: 10px;
	position: relative;
	width: 95%;
	margin-left: 2px;
	background: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 25px;
	padding: 5px;
	
}

.meter_20 { 
	height: 10px;
	position: relative;
	width: 95%;
	margin-left: 2px;
	background: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 25px;
	padding: 5px;
	
}

.meter_20 > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: black;
  position: relative;
  overflow: hidden;
}
/*---------------------------Barre Niveau 10---------------------------*/
.meter_10 > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: black;
  position: relative;
  overflow: hidden;
}
/*---------------------------Barre niveau 0-9---------------------------*/
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.blue > span {
  background-color: #31589b;
}

.jaune > span {
  background-color: #f9d21e;
}

.indigo > span {
  background-color: #4b0082;
}

.white > span {
  background-color: white
}

/*---------------------------Indication du niveau---------------------------*/
#niveau{
	color: #27AC84;
	font-weight: bolder;
	margin : auto;
	text-align: center;
	margin-top: 5px;
	width: 20%;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
/*---------------------------Description du profil ---------------------------*/
#description{
	padding: 10px;
	color : white;
	background-color : #27AC84;
	border-bottom: 2px solid white;
	border-top: 1px solid white;
	margin-bottom: 0px;
	font-family: 'robotoL';
}

/*---------------------------Description longue du profil ---------------------------*/
#description_long{
	padding: 10px;
	color : white;
	background-color : #27AC84;
	border-bottom: 2px solid white;
	border-top: 1px solid white;
	overflow-y: scroll;
	height: 20vh;
}

/*---------------------------Bouton d'envoi du message---------------------------*/
#envoi_button{
	background-color: #11A478;
	border: 1px #004C35 solid;
	color: white;
	font-size: 1.4em;
	margin-left: 10px;
}
/*---------------------------Formulaire ---------------------------*/
 #formulaire_envoi{
 	background-color: #F4F4F4;
 	border : solid 2px #F4F4F4;
 	font-size: 1.4em;
 	margin: 10px;
 	border-radius: 2px;
 	padding: 2px;
 	box-shadow: 1px 1px 5px 0px #656565;
 	transition: 0.5s;
 }
/*---------------------------Text area du message---------------------------*/
  #formulaire_envoi_input{
 	background-color: #F4F4F4;
 	border : solid 2px #F4F4F4;
 	font-size: 1.4em;
 	margin: 10px;
 	border-radius: 2px;
 	padding: 2px;
 	transition: 0.5s;
 	width: 94%;
 	height: 30vh;
 }
/* --------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------TIME LINE--------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------*/

#timeline{
	display: flex;
	flex-direction: column;
	margin-top: 2vh;
	height: 100vh;
	flex-wrap: wrap;
	width: auto;
	margin-left: 30px;
}

/*---------------------------Messages de la Timeline ---------------------------*/
#message{
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	height: auto;
	margin: 20px;
	margin-top: 0;
	width: 500px;
	margin-bottom: 25px;
	font-family: 'robotoL';
}
/*---------------------------Pseudos de la Timeline---------------------------*/
#pseudo{
	background-color: #27AC84;
	padding: 10px;
	color: white;
	font-family: 'sensation';
	font-size: 1.4em;
	font-weight: bolder;
	display: flex;
	justify-content: space-between;	
}
/*---------------------------Texte du message ---------------------------*/
 #messageDIV{
 	margin: 5px;
 	padding : 15px;
 	background-color: white;
 	overflow-x: hidden;
 }
/*---------------------------Texte du message long ---------------------------*/
  #messageDIV_count{
 	margin: 5px;
 	padding : 15px;
 	background-color: white;
 	overflow-x: hidden;
 	overflow-y: scroll;
 	height: 65vh;
 }
/*---------------------------Date du message ---------------------------*/
 #date{
 	font-size: 0.7em;
 	padding: 10px;	
 }

/*---------------------------Texte du pseudo ---------------------------*/
 #lien_profil{
 	color: white;
 	text-decoration: none;
 	transition: 0.5s;
 	background-color: rgba(255, 255, 255, 0.2);
 	padding: 5px;
 	border-radius: 4px;
 }

  #lien_profil:hover{
 	background-color: white;
 	color : #27AC84;
 	transition: 0.2s;
 }

/*---------------------------Photo du profil dans le message ---------------------------*/
#photo_profil_message{
	-webkit-border-radius:80px;
	-moz-border-radius:80px; 
	border-radius:80px;
	width:30px;
	height:30px; 	
}
/* --------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------CONNEXION / INSCRIPTION -----------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------*/

#container_connexion{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#container5{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}


#container_connexion-1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#container_connexion-2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
/*---------------------------Titre de connexion ---------------------------*/
 #connexion_titre{
 	color: white;
 	margin-top: 20vh;
 	font-size: 3em;
 	background-color: rgba(255, 255, 255, 0.2);
 	padding: 10px;
 	border-radius: 10px;
 	animation-name: apparition2;
 	animation-duration: 1s;

 }
/*---------------------------Animation du titre connexion ---------------------------*/
 @keyframes apparition2{
 	0%{opacity: 0;}
 	100%{opacity: 1;}
 }

/*---------------------------Titre d'inscription ---------------------------*/
#inscription_titre{
 	color: white;
 	margin-top: 2vh;
 	font-size: 3em;
 	background-color: rgba(255, 255, 255, 0.2);
 	padding: 10px;
 	border-radius: 10px;
 	animation-name: apparition2;
 	animation-duration: 1s;
 }

/*---------------------------Le formulaire ---------------------------*/
 #formulaire{
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	animation-name: apparition;
 	animation-duration: 1s;
 	overflow-y: hidden;
 }

/*---------------------------Animation du formulaire ---------------------------*/
 @keyframes apparition{
 	0%{margin-top: 10vh; opacity: 0;}
 	100%{margin-top: 0vh; opacity: 1;}
 }
/*---------------------------Différentes parties du formulaire ---------------------------*/
 #formulaire_pseudo{
 	background-color: #F4F4F4;
 	border : solid 2px #F4F4F4;
 	font-size: 1.4em;
 	margin: 10px;
 	border-radius: 2px;
 	padding: 2px;
 	box-shadow: 1px 1px 5px 0px #656565;
 	transition: 0.5s;
 }

  #formulaire_pseudo:focus,  #formulaire_pseudo:hover{
 	background-color: #F4F4F4;
 	border : solid 2px #F4F4F4;
 	font-size: 1.4em;
 	margin: 10px;
 	border-radius: 2px;
 	padding: 2px;
 	box-shadow: inset -3px 0px 50px -100px #ABABAB,0px 1px 41px 7px #11A478;
 	transition: 0.5s;
 }

 #formulaire_password	{
 	background-color: #F4F4F4;
 	border : solid 2px #F4F4F4;
 	border-radius: 2px;
 	font-size: 1.4em;
 	margin: 10px;
 	padding: 2px;
 	box-shadow: 1px 1px 5px 0px #656565;
 	transition: 0.5s;
 }

  #formulaire_password:focus, #formulaire_password:hover{
 	background-color: #F4F4F4;
 	border : solid 2px #F4F4F4;
 	border-radius: 2px;
 	font-size: 1.4em;
 	margin: 10px;
 	padding: 2px;
 	box-shadow: inset -3px 0px 50px -100px #ABABAB,0px 1px 41px 7px #11A478;
 	transition: 0.5s;
 }

/*---------------------------Bouton de connexion---------------------------*/
 #connexion_button{
 	font-size: 1em;
 	width: 70px;
 	margin-top: 30px;
 	height: 70px;
 	border-radius: 10px;
 	border : 2px solid #11A478;
 	background-color: rgba(255, 255, 255, 0.8);
 }

  #connexion_button_avatar{
 	font-size: 1em;
 	width: 200px;
 	margin-top: 30px;
 	height: 70px;
 	border-radius: 10px;
 	border : 2px solid #11A478;
 	background-color: rgba(255, 255, 255, 0.8);
 }

#connexion_button:active{
 	font-size: 1em;
 	width: 70px;
 	margin-top: 30px;
 	height: 70px;
 	border-radius: 10px;
 	border : 2px outset #11A478;
 	background-color: rgba(255, 255, 255, 0.8);
 }

#connexion_button:hover{
 	font-size: 1em;
 	width: 70px;
 	margin-top: 30px;
 	height: 70px;
 	border-radius: 10px;
 	border : 2px outset #11A478;
 	background-color: rgba(255, 255, 255, 0.8);
 }


/* --------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------CHANGELOG --------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------*/

#container_changelog{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	animation-name: apparition2;
 	animation-duration: 1s;
 	width: auto;
 	height: 90vh;
}

#changelog_div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	height: 90vh;
	overflow-x: scroll;
	overflow-y: hidden;

}
/*---------------------------Titre nouveautés---------------------------*/
#changelog_titre{
	color: white;
	background-color: #27AC84;
	padding: 20px;
	margin: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#changelog_titre2{
	color: white;
	background-color: #27AC84;
	width: 100%;
}

#changelog_titre2 h3{
	padding: 20px;
}

#changelog_update{
	color : black;
	margin: 10px;
	height: 80vh;
	width: 30%;
	display: flex;
	flex-direction: column;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#changelog_text{
	padding: 20px;
	font-family: 'sensation';
	font-size: 1em;	
}

/* --------------------------------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------VISITE PROFIL--------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------*/

#follow{
	font-family: 'sensation';
	background-color: white;
	color: #003823;
	padding: 10px;
	margin-top: 30px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#follow_button{
	padding: 15px;
	width: 150px;
	margin-top: 0vh;
	background-color: white;
	color: #003823;
	font-family: 'sensation';
	font-family: 1em;
	margin-top: 30px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#follow_button:focus, #follow_button:active{
	border : 2px unset #27AC84;
	box-shadow: none;
}

#unfollow_button{
	padding: 15px;
	width: 150px;
	margin-top: 0vh;
	background-color: white;
	color: #003823;
	font-family: 'sensation';
	font-family: 1em;
	margin-top: 30px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#unfollow_button:focus, #follow_button:active{
	border : 2px unset #27AC84;
	box-shadow: none;
}

#profil_bas{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}