#container_changelog{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	animation-name: apparition2;
 	animation-duration: 1s;
 	width: auto;
 	height: 90vh;
}

#changelog_div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	height: 90vh;
	overflow-x: scroll;
	overflow-y: hidden;

}
//---------------------------Titre nouveautés---------------------------
#changelog_titre{
	color: white;
	background-color: #27AC84;
	padding: 20px;
	margin: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#changelog_titre2{
	color: white;
	background-color: #27AC84;
	width: 100%;
}

#changelog_titre2 h3{
	padding: 20px;
}

#changelog_update{
	color : black;
	margin: 10px;
	height: 80vh;
	width: 30%;
	display: flex;
	flex-direction: column;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#changelog_text{
	padding: 20px;
	font-family: 'sensation';
	font-size: 1em;	
}