//---------------------------Importation des polices ---------------------------
 @font-face {
 	font-family: 'sensation';
 	src:url(../../font/sensation.ttf);
 }

@font-face {
	font-family: 'chelsea';
	src:url(../../font/Chelsea.ttf);
}

@font-face {
	font-family:'roboto';
	src:url(../../font/Roboto.ttf);
}

@font-face {
	font-family:'robotoL';
	src:url(../../font/Roboto-l.ttf);
}