#container3{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	animation-name: apparition2;
 	animation-duration: 1s;
}


#index_titre{
	color: white;
}

#index_text{
	color : white;
}